.navbg {
  width: 100%;
  height: 50px;
  background: #ef6d6d;
}

header {
  transition: transform 0.3s ease-in, background-color 0.3s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 900;

  &.scroll-down {
    transform: translateY(-100%);
    background-color: white;
  }

  &.scroll-up {
    transform: translateY(0);
    background-color: white;
  }
}

.container {
  height: 72px;
}

nav {
  height: 100%;

  menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    li {
      a {
        padding: 24px 16px;
        display: block;
        color: blue;
        font-size: 16px;
        line-height: 24px;
        transition: color 0.3s ease-in;

        &:hover {
          color: black;
        }
      }
    }
  }
}
